Package: hra-sibenice
Priority: optional
Section: games
Maintainer: Martin Tábor <13202912+ma-ta@users.noreply.github.com>
Architecture: amd64
Version: 1.3.3
Homepage: https://github.com/ma-ta/hra-sibenice
Description: Slovní hra šibenice pro terminál
 Známá slovní hra šibenice (oběšenec) v textové retro grafice pro
 terminál (příkazový řádek).